body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bannerimage {
  width: 100%;
  background-image: url(https://cdn.qurancdn.com/assets/logo-lg-w-10a76950b6fdf68f9bf6abdde65eec2553f6f6d97837b65d8836d1a0c39a01c9.png);
  height: 288px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}

#title { 
  text-align: center;
  font-size: 45px;
  color: rgb(0, 102, 128);

}

#subheadings {
  text-align: left;
  font-size: 25px;
  color: rgb(0, 102, 128);
}

.button {
  background-color:  rgb(0, 102, 128); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
